In [25]:
#it companies
it_companies={"Facebook", "Instagram","Twitter","Google","microsoft"}
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age=[22,19,24,25,26,24,25,24]

In [3]:
print(len(it_companies))

5

In [4]:
it_companies.add("Oracle")

In [5]:
print(it_companies)

{'microsoft', 'Facebook', 'Google', 'Twitter', 'Oracle', 'Instagram'}

In [8]:
it_companies.update(["IBM","Linkedin","GitHub"])
print(it_companies)

{'microsoft', 'Linkedin', 'Google', 'IBM', 'Facebook', 'Twitter', 'GitHub', 'Instagram', 'Oracle'}

In [9]:
it_companies.remove("Instagram")
print(it_companies)

{'microsoft', 'Linkedin', 'Google', 'IBM', 'Facebook', 'Twitter', 'GitHub', 'Oracle'}

In [11]:
it_companies.discard("ABC")
print(it_companies)

{'microsoft', 'Linkedin', 'Google', 'IBM', 'Facebook', 'Twitter', 'GitHub', 'Oracle'}

In [14]:
#level 2
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [16]:
C = A & B  # Using the & operator
# or
C = A.intersection(B)  # Using the intersection() method
print(C)

{19, 20, 22, 24, 25, 26}

In [17]:
A.issubset(B)

True

In [18]:
A.isdisjoint(B)

False

In [19]:
print(A.union(B))
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [20]:
A.symmetric_difference(B)

{27, 28}

In [21]:
del A

In [22]:
del B

In [24]:
print(A)

NameError: name 'A' is not defined

In [30]:
#Level 3
age=[22,19,24,25,26,24,25,24]
age_1= set(age)
print(age_1)  # Output: {1, 2, 3, 4, 5}

{19, 22, 24, 25, 26}

In [31]:
print(len(age))

8

In [33]:
print(len(age_1))

5

In [34]:
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
unique_word_count = len(unique_words)
print(unique_word_count)

10